{% extends "layout.html" %}
{% block title %}Käyttäjän rekisteröinti{% endblock %}
{% block content %}
<h2>Uuden käyttäjän luomti</h2>
<form action="/register" method="POST">
Käyttäjätunnus: <input type="text" name="username">
<p>
Salasana: <input type="password" name="password">
<p>
Tämän hetkinen paino: <input max="200" min="10" step="0.1" type="number" name="currentweight" value="75.0"> kg
<p>
Tavoite paino: <input max="200" min="10" step="0.1" type="number" name="targetweight" value="75.0"> kg
<p>
Pituutesi: <input max="250" min="100" step="1" type="number" name="height" value="170"> cm
<br>
<input type="submit" value="Luo tunnus">
</form>
{% endblock %}